fastapi
uvicorn[standard]
jinja2
python-multipart
psycopg2-binary
passlib[bcrypt]
python-dotenv

langchain
langchain-community
langchain-core
langchain-groq
langchain-huggingface

faiss-cpu
sentence-transformers
numpy
scikit-learn
rank_bm25

pdfplumber
python-docx
beautifulsoup4
requests
pypdf

